@page "{title}"
@model MovieApp.Pages.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">Details</h1>
<h2 class="text-center"></h2>
<div class="text-center">
    <a asp-page="/Movies">Back to Movies</a>
</div>
    
